<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.TelCallBackMapper">
  <resultMap id="BaseResultMap" type="com.mmall.model.TelCallBack">
    <id column="tel_call_id" jdbcType="INTEGER" property="telCallId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="cusname" jdbcType="VARCHAR" property="cusname" />
    <result column="visit_time" jdbcType="TIMESTAMP" property="visitTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="cus_id" jdbcType="INTEGER" property="cusId" />
  </resultMap>
  <sql id="Base_Column_List">
    tel_call_id, dept_id, userid, username, cusname, visit_time, remark, flag, cus_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tel_callback
    where tel_call_id = #{telCallId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tel_callback
    where tel_call_id = #{telCallId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.model.TelCallBack">
    insert into tel_callback (tel_call_id, dept_id, userid,
      username, cusname, visit_time,
      remark, flag, cus_id
      )
    values (#{telCallId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
      #{username,jdbcType=VARCHAR}, #{cusname,jdbcType=VARCHAR}, #{visitTime,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{cusId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.model.TelCallBack">
    insert into tel_callback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="telCallId != null">
        tel_call_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="cusname != null">
        cusname,
      </if>
      <if test="visitTime != null">
        visit_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="cusId != null">
        cus_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="telCallId != null">
        #{telCallId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cusname != null">
        #{cusname,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null">
        #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="cusId != null">
        #{cusId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.model.TelCallBack">
    update tel_callback
    <set>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cusname != null">
        cusname = #{cusname,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null">
        visit_time = #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="cusId != null">
        cus_id = #{cusId,jdbcType=INTEGER},
      </if>
    </set>
    where tel_call_id = #{telCallId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.model.TelCallBack">
    update tel_callback
    set dept_id = #{deptId,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      cusname = #{cusname,jdbcType=VARCHAR},
      visit_time = #{visitTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      cus_id = #{cusId,jdbcType=INTEGER}
    where tel_call_id = #{telCallId,jdbcType=INTEGER}
  </update>

  <!--查找电访客户的回访记录-->
  <select id="findTelCallBackByCusName" resultType="map" resultMap="BaseResultMap">
     select cusname, visit_time, remark
     from tel_callback
     where cusname = #{telCallBack.cusname} and flag = 1 and username = #{telCallBack.username}
  </select>

  <select id="updateTelCommonPoolCus" parameterType="map">
     UPDATE tel_callback
     SET dept_id = #{telVisitForm.deptId},userid = #{telVisitForm.userid}, username = #{telVisitForm.operator}
     WHERE cus_id = #{telVisitForm.id}
  </select>
</mapper>